@model SistemaGeonet.Models.Reseña

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAlmAd.cshtml";
}

<h2>Create</h2>

<h4>Reseña</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="idInventario" class="control-label"></label>
                <select asp-for="idInventario" class ="form-control" asp-items="ViewBag.idInventario"></select>
            </div>
            <div class="form-group">
                <label asp-for="comentario" class="control-label"></label>
                <input asp-for="comentario" class="form-control" />
                <span asp-validation-for="comentario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="calificacion" class="control-label"></label>
                <input asp-for="calificacion" class="form-control" />
                <span asp-validation-for="calificacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="usuario" class="control-label"></label>
                <input asp-for="usuario" class="form-control" />
                <span asp-validation-for="usuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

