@import url('https://fonts.googleapis.com/css?family=Mukta');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Mukta', cursive !important;
}

/*-----------------navbar-----------*/
.navbar {
    background: #080954;
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100%;
}

.navbar img {
    position: absolute;
    top: -15px;
    width: 150px;
    cursor: pointer;
}


.navbar button .fa-bars {
    color: #fff;
    font-size: 30px;
}

.menu li a,.dropdown {
    float: right;
    text-align: center;
    color: #FFF;
    transition: all .3s ease-in-out;
}
.dropdown-toggle {
    background: #080954;
    border: none;
    color: #fff;
}
secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show > .btn-secondary.dropdown-toggle {
    background: #080954;
    border: none;
}
.dropdown-toggle:hover {
    border-bottom: 4px solid #eba630;
    color: #fff;
    background: #080954;
    border-radius: 0px;
    transition: all .3s ease 0s;
}
.menu li a:hover {
         transition: all .3s ease 0s; 
        border-bottom: 4px solid #eba630;
        color: #fff;
        /* border-radius: 5px; */
    }

/*--------------------------search--------------*/
/* .search{
    height: 50px;
    background: #FFF;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
} */
/*----------------producto-------------------*/
.media-body{
    padding-left: 15px;
}
/*----------------contenedor principal-----------------*/
.principal {
    padding-left: 0px;
    padding-right: 0px;
}
/*--------------------------footer..............*/
#footer {
    background: #080954 !important;
}

#footer .container {
    padding-top: 50px;
}

#footer .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#footer h5 {
    padding-left: 10px;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color: #ffffff;
}

#txtEmailN {
    background: #080954;
    border: none;
    border-bottom: 2px solid #eba630;
    margin-bottom: 15px;
    color: #fff
}

#txtEmailN:focus {
    outline: 0px;
}

.btn-primary {
    margin-left: 15px;

}

#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

#footer div div ul.social li {
    padding: 50px 0;
}

#footer div div ul.social li a i {
    margin-right: 5px;
    font-size: 25px;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}

#footer ul.social li:hover a i {
    font-size: 30px;
    margin-top: -10px;
}

#footer ul.social li a {
    color: #ffffff;
}

#footer ul.social li a:hover {
    color: #eba630;
    transition: .5s all ease;
}
.fa-cc-paypal, 
.fa-cc-diners-club, 
.fa-cc-visa, 
.fa-cc-mastercard, 
.fa-cc-amex {
    color: #fff;
    font-size: 20px;
}

@media (max-width:767px) {
    #footer h5 {
        padding-left: 0;
        border-left: transparent;
        padding-bottom: 0px;
        margin-bottom: 10px;
    }
}

/*---------loading-----------*/
/* html,body{
    width: 100%;
    height: 100%;
}

body {
  background: #080954;
} */
.panel {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10000;
    background: #080954;
    width: 100%;
    height: 100vh;
}

.imgLogo {
    width: 250px;
    position: fixed;
    right: 0%;
    bottom: 0%;
}

#circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
}

.loader {
    width: calc(100% - 0px);
    height: calc(100% - 0px);
    border: 8px solid #162534;
    border-top: 8px solid #eba630;
    border-radius: 50%;
    animation: rotate 5s linear infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(500deg);
    }
}