
h3.h3 {
    text-align: center;
    margin: 1em;
    text-transform: capitalize;
    font-size: 1.7em;
}

.pagination {
    padding: 20px;
}

.pagination,
.pagination * {
    user-select: none;

}

.pagination  a {
    display: inline-block;
    color: #333;
    width: 40px;
    
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    font-weight: 500;
    transition: all .3s ease-in-out;
}
.pagination a:hover{
    border-bottom: 5px solid #888;
    border-radius: 5px;
}
.pagination a.disabled {
    opacity: 0.3;
    pointer-events: none;
    cursor: not-allowed;
}

.pagination a.current {
    border-bottom: 5px solid #ebeb19;
    
}
.product-grid7 {
    font-family: 'Roboto Slab', serif;
    position: relative;
    z-index: 1
}

.product-grid7 .product-image7 {
    border: 1px solid rgba(0, 0, 0, .1);
    overflow: hidden;
    perspective: 1500px;
    position: relative;
    transition: all .3s ease 0s
}

.product-grid7 .product-image7 a {
    display: block
}

.product-grid7 .product-image7 img {
    width: 100%;
    height: auto
}

.product-grid7 .pic-1 {
    opacity: 1;
    transition: all .5s ease-out 0s
}

.product-grid7 .pic-2 {
    opacity: 0;
    transform: rotateY(-90deg);
    position: absolute;
    top: 0;
    left: 0;
    transition: all .5s ease-out 0s
}

.product-grid7:hover .pic-2 {
    opacity: 1;
    transform: rotateY(0)
}

.product-grid7 .social {
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    bottom: 3px;
    left: -20%;
    z-index: 1;
    transition: all .5s ease 0s
}

.product-grid7:hover .social {
    left: 17px
}

.product-grid7 .social li a {
    color: #fff;
    background-color: #333;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    height: 40px;
    width: 40px;
    margin: 15px 0;
    border-radius: 50%;
    display: block;
    transition: all .5s ease-in-out
}

.product-grid7 .social li a:hover {
    color: #fff;
    background-color: #78e08f
}

.product-grid7 .product-new-label {
    color: #fff;
    background-color: #333;
    padding: 5px 10px;
    border-radius: 5px;
    display: block;
    position: absolute;
    top: 10px;
    left: 10px
}

.product-grid7 .product-content {
    text-align: center;
    padding: 20px 0 0
}

.product-grid7 .title {
    font-size: 15px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0 0 10px;
    transition: all .3s ease 0s
}

.product-grid7 .title a {
    color: #333
}

.product-grid7 .title a:hover {
    color: #78e08f
}

.product-grid7 .rating {
    color: #78e08f;
    font-size: 12px;
    padding: 0;
    margin: 0 0 10px;
    list-style: none
}

.product-grid7 .price {
    color: #333;
    font-size: 20px;
    font-family: Lora, serif;
    font-weight: 700;
    margin-bottom: 8px;
    text-align: center;
    transition: all .3s
}

.product-grid7 .price span {
    color: #999;
    font-size: 14px;
    font-weight: 700;
    text-decoration: line-through;
    margin-left: 7px;
    display: inline-block
}

@media only screen and (max-width:990px) {
    .product-grid7 {
        margin-bottom: 30px
    }
}