
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject RoleManager<IdentityRole> roleManager



<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>GEONET</title>
    <!-- plugins:css -->
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/assets/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/assets/vendors/iconfonts/ionicons/css/ionicons.css">
    <link rel="stylesheet" href="~/assets/vendors/iconfonts/typicons/src/font/typicons.css">
    <link rel="stylesheet" href="~/assets/vendors/iconfonts/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="~/assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/assets/vendors/css/vendor.bundle.addons.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/assets/css/shared/style.css">
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="~/assets/css/demo_1/style.css">
    <!-- End Layout styles -->
    <link rel="shortcut icon" href="~/assets/images/logotipo.ico" />
</head>
<body>
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
                <a class="navbar-brand brand-logo" href="index.html">
                    <img src="~/assets/images/logogeonet.png" alt="logo" />
                </a>
                <a class="navbar-brand brand-logo-mini" href="index.html">
                    <img src="~/assets/images/logo-mini.svg" alt="logo" />
                </a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center">
                <ul class="navbar-nav">
                    <li class="nav-item font-weight-semibold d-none d-lg-block">Help : +050 2992 709</li>

                </ul>
                <form class="ml-auto search-form d-none d-md-block" action="#">
                    <div class="form-group">
                        <input type="search" class="form-control" placeholder="Search Here">
                    </div>
                </form>
                <ul class="navbar-nav ml-auto">
               
                
                    <li class="nav-item dropdown d-none d-xl-inline-block user-dropdown">
                        <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-user" style="padding-right:1em"></i>   @UserManager.GetUserName(User)
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
                       
                            <a class="dropdown-item">Mi Perfil <span class="badge badge-pill badge-danger">1</span><i class="dropdown-item-icon ti-dashboard"></i></a>
                            <form asp-controller="Account" asp-action="Logout" method="post">
                                <button type="submit" class="dropdown-item">Cerrar Sesión<i class="dropdown-item-icon ti-power-off"></i></button>

                                </form>
</div>
                    </li>
                </ul>


                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="mdi mdi-menu"></span>
                </button>
            </div>
        </nav>


        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">


                    <li class="nav-item">
                        <a class="nav-link" >
                            <i class="fas fa-fw fa-tachometer-alt    "></i>
                            <span class="menu-title" style="padding-left:1em">Inicio</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Graficos" asp-action="ComprasxAtender">
                            <i class="fas fa-fw fa-tachometer-alt    "></i>
                            <span class="menu-title" style="padding-left:1em">Dashboard</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                            <i class="fas fa-warehouse"></i>
                            <span class="menu-title" style="padding-left:1em">Inventario</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="ui-basic">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Inventario" asp-action="MenuInventario">Inventario</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Inventario" asp-action="RegistrarEquipoInventario">Agregar Equipo</a>
                                </li>

                            </ul>
                        </div>
                    </li>




                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Equipo" asp-action="MenuEquipo">
                            <i class="fas fa-boxes"></i>
                            <span class="menu-title" style="padding-left:1em">Equipos</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Proveedor" asp-action="MenuProveedor">
                            <i class="fas fa-truck"></i>
                            <span class="menu-title" style="padding-left:1em">Proveedores</span>
                        </a>
                    </li>




                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Catalogo" asp-action="MenuCatalogo">
                            <i class="fas fa-book"></i>
                            <span class="menu-title" style="padding-left:1em">Catálogo</span>
                        </a>
                    </li>



                    <li class="nav-item">
                        <a class="nav-link" asp-controller="OrdenPedido" asp-action="MenuOrdenPedido">
                            <i class="fas fa-shopping-basket"></i>
                            <span class="menu-title" style="padding-left:1em">Pedidos</span>
                        </a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link" asp-controller="OrdenCompra" asp-action="MenuOrdenCompra">
                            <i class="fas fa-hand-holding-usd"></i>
                            <span class="menu-title" style="padding-left:1em">Compras</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="pages/icons/font-awesome.html">
                            <i class="fas fa-shopping-cart"></i>
                            <span class="menu-title" style="padding-left:1em">Ventas</span>
                        </a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
                            <i class="fa fa-users"></i>
                            <span class="menu-title" style="padding-left:1em">Usuarios</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="auth">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Usuarios" asp-action="MenuUsuarios"> Usuarios </a>
                                </li>
                               
                            </ul>
                        </div>

                    </li>
                </ul>
            </nav>
            <!-- partial -->
            <div class="main-panel">

                <div class="content-wrapper">

                    @RenderBody()
                    <!-- content-wrapper ends -->
                    <!-- partial:partials/_footer.html -->
                    <!-- partial -->
                </div>
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->


        <script src="../assets/vendors/js/vendor.bundle.base.js"></script>
        <script src="../assets/vendors/js/vendor.bundle.addons.js"></script>
        <!-- endinject -->
        <!-- Plugin js for this page-->
        <!-- End plugin js for this page-->
        <!-- inject:js -->
        <script src="../assets/js/shared/off-canvas.js"></script>
        <script src="../assets/js/shared/misc.js"></script>
        <!-- endinject -->
        <!-- Custom js for this page-->
        <script src="../assets/js/demo_1/dashboard.js"></script>


        <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
        <!-- End custom js for this page-->

    

    @RenderSection("Scripts", required: false)
</body>
</html>