@model SistemaGeonet.Models.Item

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutAlmAd.cshtml";
}

<h2>Edit</h2>

<h4>Item</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdItem" />
            <div class="form-group">
                <label asp-for="IdInventario" class="control-label"></label>
                <select asp-for="IdInventario" class="form-control" asp-items="ViewBag.IdInventario"></select>
                <span asp-validation-for="IdInventario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nroserie" class="control-label"></label>
                <input asp-for="Nroserie" class="form-control" />
                <span asp-validation-for="Nroserie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="detalle" class="control-label"></label>
                <input asp-for="detalle" class="form-control" />
                <span asp-validation-for="detalle" class="text-danger"></span>
            </div>
       
            <div class="form-group">
                <label asp-for="estado" class="control-label"></label>
                <input asp-for="estado" class="form-control" />
                <span asp-validation-for="estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

